@import-normalize;

body {
  padding-top: 50px;
}
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.timer {
  margin-top: 20px;
  font-size: 50px;
}

.buttonContainer {
  display: flex;
  min-width: 300px;
  justify-content: space-between;
}

.button {
  flex-basis: calc((100% - 40px) / 4);
  padding: 8px 0;
  border: 1px solid #808080;
  border-radius: 20px;
  background-color: #84a5ff;
  cursor: pointer;
  transition: color 250ms, background-color 250ms;
}

.button:hover,
.button:focus {
  background-color: #1f41a0;
  color: #fff;
}

.button:disabled {
  background-color: #bbbbbb;
  color: #666666;
}

@media screen and (min-width: 768px) {
  .buttonContainer {
    justify-content: space-around;
    min-width: 400px;
  }
  .button {
    flex-basis: calc((100% - 100px) / 4);
  }
}
